{% extends 'AppBlog/padre.html' %}

{% load static %}

{% block título %}

<h2>Conocé a</h2>
<h1>Mariano Merlo</h1>

{% endblock %}

{% block imagen %}

{% static 'AppBlog/assets/img/aboutme-bg.jpg' %}

{% endblock %}

{% block busqueda %}
{% endblock %}

{% block post %}

<p style="text-align:justify; font-size:large">
    ¡Hola a todos! Gracias por visitar mi primer blog. Soy Mariano Merlo, oriundo del barrio de Flores, en la Ciudad de Buenos Aires, Argentina, 
    hincha de San Lorenzo como toda persona de bien.
    Soy Licenciado en Administración recibido en la UBA (Universidad de Buenos Aires), especalista en Visual Merchandising y Retail Desing.
    Luego de egresar de la UBA realicé un curso de recutlamiento de personal IT, actividad que realizo de forma freelance,
    lo que también volvió a acercarme al mundo de la programación, con el que tuve el primer contacto de niño a los 12/13 años.
    También me especialicé en el mercado de capitales y en finanzas personales, brindé cursos sobre Finanzas Personales y 
    luego comencé a trabajar también de forma freelance con dos importantes brokers de Argentina como asesor financiero independiente.
    A su vez, trabajo hace 15 años en la banca pública, brindando mis servicios en distintas áreas.

</p>

{% endblock %}

